@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgba(34, 6, 82, 255);
  margin: 0;
  padding: 0;
  height: 100%;
}
#root {
  height: 100%;
}

/* Змінити ширину смуги прокрутки */
::-webkit-scrollbar {
  width: 12px; /* Ширина для вертикальної прокрутки */
  height: 12px; /* Висота для горизонтальної прокрутки */
}

/* Змінити фон самої смуги прокрутки */
::-webkit-scrollbar-track {
  background: white; /* Світлий фон */
  border-radius: 10px; /* Закруглення */
}

/* Змінити вигляд бігунка */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, white, white); /* Градієнт */
  border-radius: 10px;
  border: 3px solid #363636; /* Відступ від краю */
}

/* Змінити вигляд бігунка при наведенні */
::-webkit-scrollbar-thumb:hover {
  background: #ff3d54; /* Змінюється колір */
}
